<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <style>
        .layui-input,.layui-textarea{
            display: block;
            /* width: 100%; */
            padding-left: 10px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
</head>
<body>
<h1>欢迎您登录系统</h1>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="../static/layui/js/login.js"></script>
<script type="application/javascript" src="../static/layui/layui.all.js"></script>
<link rel="stylesheet" href="../static/layui/css/layui.css">
</body>
</html>